.text-features {
    font-weight: bold;
    color: rgb(57, 57, 57);
    margin-bottom: 1rem;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.select2-container--default.select2-container--focus .select2-selection {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
