<ul
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
>
    <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="index.html"
    >
        <div class="sidebar-brand-icon rotate-n-15">IS</div>
        <div class="sidebar-brand-text mx-3">Isakha Rentals</div>
    </a>
    <hr class="sidebar-divider my-0" />
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
        >
    </li>
    <hr class="sidebar-divider" />
    <div class="sidebar-heading">Master Data</div>
    <li class="nav-item">
        <a class="nav-link" href="/admin/categories">
            <i class="fas fa-fw fa-cog"></i>
            <span>Category</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/banks">
            <i class="fas fa-fw fa-money-check"></i>
            <span>Bank</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/properties">
            <i class="fas fa-fw fa-hotel"></i>
            <span>Property</span>
        </a>
    </li>
    <hr class="sidebar-divider" />
    <div class="sidebar-heading">Order</div>
    <li class="nav-item">
        <a class="nav-link" href="/admin/bookings">
            <i class="fas fa-fw fa-dollar-sign"></i>
            <span>Booking</span></a
        >
    </li>
    <hr class="sidebar-divider d-none d-md-block" />
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
